Load and understand the dataset

In [24]:
# loard libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [25]:
#Load dataset
url = "https://raw.githubusercontent.com/callxpert/datasets/master/Loan-applicant-details.csv"
names = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
d = pd.read_csv(url, names=names)

In [26]:
d.head(30)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y
5,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360,1,Urban,Y
6,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158,360,0,Semiurban,N
7,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168,360,1,Urban,Y
8,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349,360,1,Semiurban,N
9,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70,360,1,Urban,Y
10,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200,360,1,Urban,Y
11,LP001029,Male,No,0,Graduate,No,1853,2840.0,114,360,1,Rural,N
12,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
13,LP001032,Male,No,0,Graduate,No,4950,0.0,125,360,1,Urban,Y
14,LP001036,Female,No,0,Graduate,No,3510,0.0,76,360,0,Urban,N
15,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133,360,1,Rural,N
16,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104,360,0,Urban,N
17,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315,360,1,Urban,Y
18,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116,360,0,Semiurban,N
19,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191,360,1,Semiurban,Y
20,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122,360,1,Semiurban,Y
21,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110,360,1,Urban,Y
22,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35,360,1,Urban,N
23,LP001095,Male,No,0,Graduate,No,3167,0.0,74,360,1,Urban,N
24,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106,360,1,Rural,N
25,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114,360,1,Semiurban,Y
26,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320,360,1,Rural,N
27,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144,360,1,Semiurban,Y
28,LP001114,Male,No,0,Graduate,No,4166,7210.0,184,360,1,Urban,Y
29,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110,360,1,Semiurban,Y

In [27]:
d.shape

(480, 13)

In [28]:
# have to convert the categorical data into numerical data

from sklearn.preprocessing import LabelEncoder
var = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var:
    dataset[i] = le.fit_transform(dataset[i])

Splitting the dataset

In [29]:
arr = d.values
x = arr[:,6:11]
y = arr[:,12]
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)

Training the model

In [30]:
# Logistic Regression
model = LogisticRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
accuracy_score(y_test,predictions)

0.8229166666666666

In [31]:
# Random Forest
model = RandomForestClassifier()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
accuracy_score(y_test,predictions)

0.78125

In [32]:
#Support Vector Machine Model
model = SVC()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
accuracy_score(y_test,predictions)

0.6770833333333334

In [34]:
d.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,480.000000,480.000000,480.000000,480.000000,480.000000
mean,5364.231250,1581.093583,144.735417,342.050000,0.854167
std,5668.251251,2617.692267,80.508164,65.212401,0.353307
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3859.000000,1084.500000,128.000000,360.000000,1.000000
75%,5852.500000,2253.250000,170.000000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000